# Dependencies
/node_modules
/client/node_modules

# Production build
/client/build

# IDE files
.idea

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Server specific
/uploads
/logs
*.log
