/* Стиль для страницы с аудиоплеером */
.audio-player-page {
  background-image: url('background.PNG'); /* Указываем изображение для фона */
  background-size: cover; /* Изображение покрывает всю страницу */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Изображение не повторяется */
  min-height: 100vh; /* Минимальная высота страницы */
  margin: 0;
  padding: 0;
}

/* Стиль для аудиоплеера */
.audio-player {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(249, 249, 249, 0.9); /* Прозрачный фон для улучшения читаемости */
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-pause-button {
  font-size: 2.5em; /* Увеличенный размер шрифта */
  padding: 20px 40px; /* Увеличенный внутренний отступ */
  margin-bottom: 20px;
  background-color: #000; /* Чёрный цвет фона для высокой контрастности */
  color: #fff; /* Белый текст */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.play-pause-button:focus,
.play-pause-button:hover {
  background-color: #333; /* Тёмно-серый цвет при наведении и фокусе */
}

.time-control,
.volume-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.time-control input,
.volume-control input {
  width: 100%;
}

.time-display {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .controls {
    flex-direction: row;
    justify-content: space-between;
  }

  .play-pause-button {
    font-size: 3em; /* Ещё больший размер шрифта на больших экранах */
    padding: 30px 60px; /* Увеличенный отступ на больших экранах */
  }

  .time-control,
  .volume-control {
    width: auto;
    flex-direction: row;
    align-items: center;
  }

  .time-control input,
  .volume-control input {
    width: auto;
    margin-left: 10px;
  }
}
