/* Стили для страницы с аудиоплеером */
.player-page {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Фон под проигрывателем */
.player-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  height: 300px; /* Высота фона */
  background-image: url('background.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  z-index: 1;
}

.player-container {
  position: relative;
  max-width: 600px;
  width: 100%;
  z-index: 2;
}

/* Стили для аудиоплеера */
.audio-player {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(249, 249, 249, 0.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Высококонтрастный режим */
.high-contrast .play-pause-button {
  background-color: yellow; /* Высококонтрастный цвет */
  color: black;
  border: 2px solid black; /* Добавление четкой границы */
}

.high-contrast .audio-player {
  background-color: black;
  color: white;
  border-color: white;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-pause-button {
  font-size: 3em; /* Увеличение размера шрифта */
  padding: 30px 70px; /* Увеличение внутреннего отступа */
  margin-bottom: 30px; /* Добавление больше места между элементами */
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 60px; /* Увеличение радиуса скругления */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.play-pause-button:focus,
.play-pause-button:hover {
  background-color: #333;
}

.time-control,
.volume-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.time-control input,
.volume-control input {
  width: 100%;
  height: 15px; /* Увеличение высоты ползунков */
}

.time-display {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .controls {
    flex-direction: row;
    justify-content: space-between;
  }

  .play-pause-button {
    font-size: 3em;
    padding: 30px 70px;
  }

  .time-control,
  .volume-control {
    width: auto;
    flex-direction: row;
    align-items: center;
  }

  .time-control input,
  .volume-control input {
    width: 150px; /* Увеличение ширины на больших экранах */
    height: 20px; /* Еще большее увеличение высоты */
    margin-left: 10px;
  }
}
